<h1>Let's talk</h1>
    <div class="contact">
        <form action="server-side-script" method="POST">
            <div class="input-label between">
                <div>
                    <label for="first-name">First Name*</label>
                    <input type="text" id="first-name" required>
                </div>
                <div>
                    <label for="last-name">Last Name*</label>
                    <input type="text" id="last-name" required>
                </div>
                
            </div> 
            <div class="input-label">
                <label for="">Email*</label>
                <input type="text" required>
            </div> 
            <div class="input-label">
                <label for="">Subject*</label>
                <input type="text" required>
            </div> 
            <div class="input-label">
                <label for="">Message*</label>
                <textarea rows="3" required></textarea>
            </div>  

            <button type="submit">SEND</button>
        </form>
    </div>