<div class="background">
    <div class="card">
        <div class="left">
            <img class="profile-img" src="{{'assets/images/profile.jpg'}}" alt="Profile Picture">
            <div class="profile-name"><b>Darina<br> Sarsenova</b></div>
            <div class="line"></div>
            <div class="social-media">
                <a href="#"><img src="{{'assets/images/linkedIn-icon.png'}}" alt="LinkedIn"></a>
                <a href="#"><img src="{{'assets/images/github-icon.png'}}" alt="GitHub"></a>
                <a href="#"><img src="{{'assets/images/instagram-icon.png'}}" alt="Instagram"></a>
                <a href="#"><img src="{{'assets/images/facebook-icon.png'}}" alt="Facebook"></a>
            </div>
        </div>
        <div class="right">
            <div class="hello"><b>Hello</b></div>
            <div class="text-1"><b>Here’s who I am & what I do</b></div>
            <div class="buttons">
                <a href="/resume">RESUME</a>
                <a href="/projects">PROJECTS</a>
            </div>
            <div class="right-bottom">
                Programming is my passion, my favorite thing. 
                I’m a fast learner; I understand what I’m doing,
                and I’m happy to invest in every project. 
                I approach the tasks responsibly and carefully. 
                My love of neatness is reflected in every code I create.
            </div>
        </div>    
    </div>
</div>
