<footer>
    
    <div class="contact-info">
        <div>
            <p>&copy; 2024 by Darina Sarsenova</p>
        </div>
        <div class="contact-info">
            <div class="phone">
                <span>Call</span>
                <span>87070244064</span>
            </div>
            <div class="email">
                <span>Write</span>
                <a href="mailto:info@darisarsen24@gmail.com">darisarsen24&#64;gmail.com</a>
            </div>
            <div class="social-media">
                <span>Follow</span>
                <a href="#"><img src="{{'assets/images/linkedIn-icon.png'}}" alt="LinkedIn"></a>
                    <a href="#"><img src="{{'assets/images/github-icon.png'}}" alt="GitHub"></a>
                    <a href="#"><img src="{{'assets/images/instagram-icon.png'}}" alt="Instagram"></a>
                    <a href="#"><img src="{{'assets/images/facebook-icon.png'}}" alt="Facebook"></a>
            </div>
    
        </div>
    </div>
</footer>
