<h1>Projects</h1>


<div class="projects">
  <!-- <div class="section" *ngIf="project"> -->
    <div>
      <div class="project-name">
        <!-- {{ project.title }} -->
        <div class="small">
          <!-- {{ project.subtitle }} -->
        </div>
      </div>
      <!-- <div class="description">{{ project.description }}</div> -->
    </div>

    <div class="image">
      <!-- <img src="{{'assets/images/itlib.png'}}" alt="project image"> -->
      <!-- <img src="{{ project.imageUrl }}" alt="project image"> -->
    </div>
      
    <div class="buttons">
      <!-- <a href="/projects/edit/(project._id)">Edit</a> -->
      <!-- <button (click)="deleteProject(project._id)">Delete</button> -->
    </div>
  <!-- </div> -->
</div>
