<h1>Projects</h1>


<div class="projects">
  <div class="section">
      <div>
        <div class="project-name">
          ITLib
          <div class="small">
            Website, where the IT books are collected
          </div>
        </div>
  
  
        <div class="description">Welcome to the virtual library, where the treasures of the IT industry are collected! Here everyone can find a book, inspiring or informative, related to the world of information technology. Regardless of your status — whether you are an experienced IT professional seeking to deepen your knowledge, or a student just starting his way in this exciting field — our pages are ready to reveal to you an endless world of knowledge and ideas.</div>
        </div>

      <div class="image">
        <img src="{{'assets/images/itlib.png'}}" alt="project image">
      </div>
      
  </div>




  <div class="section">
    <div>
      <div class="project-name">
        Tower Defense
        <div class="small">
          This is a game created using cocos2d in Python.
        </div>
      </div>


      <div class="description">Welcome to the fascinating world of the game created using the cocos2d library in Python! Immerse yourself in an exciting world where every pixel comes to life under your influence. Enjoy the beauty of the graphics, immerse yourself in the exciting gameplay and discover the inexhaustible potential of creativity with this project.</div>
      </div>

    <div class="image">
      <img src="{{'assets/images/python-game.png'}}" alt="project image">
    </div>
    
  </div>


  
  <div class="section">
    <div>
      <div class="project-name">
        Project name 01
        <div class="small">
          Role Title
        </div>
      </div>


      <div class="description">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a stText” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a stText” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a stText” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</div>
      </div>

    <div class="image">
      <img src="{{'assets/images/project.jpeg'}}" alt="project image">
    </div>
    
  </div>




</div>
