<h1>Projects</h1>


<div class="projects">
  <div class="section" *ngFor="let project of projects">
      <div class="info">
        <div class="project-name">
          {{ project.title }}
          <div class="small">
            {{ project.subtitle }}
          </div>
        </div>
  
        <div class="description">{{ project.description }}</div>

        
        <!-- Кнопки изменения и удаления -->
        <div class="buttons">
          <button (click)="editProject(project._id)">Изменить</button>
          <button (click)="deleteProject(project._id)">Удалить</button>
      </div>
      </div>


      <div class="swiper">
        <swiper-container
        autoplay-delay="2000" 
        effect="fade" 
        navigation-prevEl='.swiper-button-prev' 
        navigation-nextEl='.swiper-button-next'
        >
          <swiper-slide *ngFor="let imageName of project.imageUrls" >
            <img src="http://localhost:3000/{{ imageName }}" alt="project image">
          </swiper-slide>
         
        </swiper-container>
      </div>
       
  </div>
</div>