<h1>Resume</h1>

<div class="resume">
  <h2>Experience</h2>
    
    <div class="section">
      <p>No work experience yet</p>
    </div>

    <h2>Education</h2>

    <div class="section">
        <div class="bold">2021 - 2025</div>
        <div class="details">
          <div class="info">Non-profit Joint-stock
            company "Narxoz University"
            <span class="small">Bachelor's Degree</span></div>
          <div class="description">I am studying Digital Engineering here and am in my third year. My average GPA is 3.38 out of 4.00</div>
        </div>   
        <div class="small">Almaty, Kazakhstan</div>  
    </div>

    <div class="section">
      <h2>Professional skillset</h2>
      <div class="details">
        <div class="square"></div>
        <div class="description">Laravel Framework</div>
        <div class="square"></div>
        <div class="description">Python, Java, C++, PHP</div>
      
      </div>
      <div class="details">
        <div class="square"></div>
        <div class="description">Stack MEAN</div>
        <div class="square"></div><div class="description">Data analysis and machine learning</div>
      </div>

      <h2>Languages</h2>
      <div class="details">
        <div class="square"></div>
        <div class="description">Kazakh (native)</div>
        <div class="square"></div>
        <div class="description">English (average level)</div>
      
      </div>
      <div class="details">
        <div class="square"></div>
        <div class="description">Russian (average level)</div>

        <div class="description"></div>
      </div>
              
    </div>

    <div class="section">
      <h2>Additional information</h2>
        <ul class="small">
          <li>Love of learning new technologies and applying them in practice.</li>
          <li>Passion for programming, especially in the field of web application creation and development.</li>
        </ul>

  </div>