<!-- <h1>Edit Project</h1>

<form class="projects-edit-form">
  <div class="section">
    <div class="form-group">
      <label for="projectName">Project Name:</label>
      <input type="text" id="projectName" placeholder="Title" [(ngModel)]="editProject.title">
    </div>

    <div class="form-group">
      <label for="projectShortDescription">Short Description:</label>
      <input type="text" id="projectShortDescription" placeholder="Subtitle" [(ngModel)]="editedTask.subtitle">
    </div>

    <div class="form-group">
      <label for="projectDescription">Full Description:</label>
      <textarea id="projectDescription" placeholder="Full Description" [(ngModel)]="editProject.description" rows="4" ></textarea>
    </div>

    <div class="form-group">
      <label for="projectImage">Project Image:</label>
      <input type="file" id="projectImage" name="projectImage" class="file-upload">
      <img src="{{'assets/images/itlib.png'}}" alt="project image">
    </div>

    <button type="submit">Save Changes</button>
  </div>
</form>
 -->
